 
        a{
         text-decoration:none !important;
         }
         h1{
         font-family: 'Helvetica', cursive;
         }
		
		#login{
			background: linear-gradient(100deg, #ffff90 20%,#ffffff 100%)
		}

          .myform{
        margin-top: 60px;
        margin-bottom: 60px;
		position: relative;
		display: -ms-flexbox;
		display: flex;
		padding: 1rem;
		-ms-flex-direction: column;
		flex-direction: column;
		width: 100%;
		pointer-events: auto;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid rgba(0,0,0,1);
		border-radius: 0.9rem;
		outline: 0;
		max-width: 500px;
		 }

         .mybtn{
         border-radius:50px;
         margin-bottom: 25px;
         margin-top: 45px
         }
